:36000
reverse_proxy 127.0.0.1:35999 {

header_up X-Frame-Options "ALLOW-FROM https://127.0.0.1:8000"

}

log {
        output file /log/code-server/access.log {
        roll_size 100MiB
        roll_local_time
        roll_keep 10
        roll_keep_for 2160h
        }
}
