<head>
    <title>css-test</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">


    <style>

      .preview {
        width: 500px;
        transform: scale(0.5);
        background-color: red;
      }

      .first-letter-uppercase span {
        display: inline-block;
      }

      .first-letter-uppercase span::first-letter {
        text-transform: uppercase;
      }
    </style>
</head>
<body>
<div class="container">
    <h>css-test</h>
    <div class="img-container">
        <img src="/img/rmbp.jpg" alt=""/>
        <h2 class="title"><span>夕阳下的风景</span></h2>
    </div>

    <div class="preview">
        hello world
    </div>
    <div class="first-letter-uppercase">
        <span>
            a
        </span>
        <span>
            dog
        </span>
    </div>
</div>
</body>