<head>
    <title>css-test</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <style>
      .terminal {
        width: 100%;
        min-height: 200px;
        background-color: #4bd58d;
      }
      .editor{
        width: 100%;
        height: 100px;
        background-color: #003dfd;
      }

      .editor:has(+.terminal) +.terminal{
        background-color: #ff0000;
      }
    </style>
</head>
<body>
<button onclick="openEditor()">open editor</button>
<div class="terminal">
    123456789
</div>
<script>
  function openEditor() {
      const terminalEl=document.querySelector('.terminal');
      const editorEl=document.createElement('div');
      editorEl.classList='editor';
      editorEl.innerText='editor';
      document.body.insertBefore(editorEl,terminalEl);
  }
</script>
</body>