<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>express -demo</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.1/base64.min.js"></script>
    <base href="/"/>
</head>
<body>

<script>
    let fileContent;
    let filename;

    function isZip() {
        return filename.match(/\.zip$/);
    }

    function onFileChange() {
        const file = document.getElementById('myFile').files[0];
        filename = file.name;
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = (evt) => {
            console.log(evt.target.result);
            fileContent = evt.target.result.replace(/^(data:[a-z-\/]+;base64,)/, '');
        }
    }

    function onSubmit() {
        if (!fileContent) {
            alert('请先选择文件');
            return;
        }
        const xhr = new XMLHttpRequest();
        xhr.open('post', '/api/upload-file');
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({
            file: fileContent,
            fileType: isZip() ? 'zip' : 'sol'
        }))
    }

    function downloadFileClick() {
        const xhr = new XMLHttpRequest();
        xhr.open('get', '/test/download');
        xhr.setRequestHeader("Content-Type", "application/octet-stream");
        xhr.onload = () => {
            if (xhr.status === 200) {
                saveFile(xhr.response);
            }
        }
        xhr.send();
    }

    function downloadFileBase64Click() {
        const xhr = new XMLHttpRequest();
        xhr.open('get', '/test/download-base64');
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = () => {
            if (xhr.status === 200) {
                saveBase64File(JSON.parse(xhr.response).content);
            }
        }
        xhr.send();
    }

    function saveFile(content) {
        const a = document.createElement("a");
        const file = new Blob([content], {type: 'application/octet-stream'});
        a.href = URL.createObjectURL(file);
        a.download = 'test.zip';
        a.click();
    }

    function saveBase64File(content) {
        const a = document.createElement("a");
        a.href = 'data:application/zip;base64,' + content;
        a.download = 'test.zip';
        a.click();
    }

</script>

<div>
    <input id="myFile" type="file" accept=".zip,.sol" onchange="onFileChange()">
    <button type="button" onclick="onSubmit()">上传</button>
    <button onclick="downloadFileClick()">下载文件</button>
    <button onclick="downloadFileBase64Click()">下载文件-Base64</button>
</div>

</body>
</html>
