<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>express -demo</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div>请求头部信息</div>
    <div><%= JSON.stringify(ua) %></div>

    <div>
        <ul>
            <li><a href="/test/css">css测试</a></li>
            <li></li>

        </ul>

    </div>
</div>


</body>
</html>
