<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open AI测试</title>
    <link rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap.min.css">
    <script src="/js/utils.js"></script>
</head>
<body>
<main class="container">
    <h1>输入命令描述，生成命令</h1>
    <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <select class="form-control" id="model">
            <option value="gpt3">
                GPT-3 模型(比如iTerm2)
            </option>
            <option value="gpt3.5">
                GPT-3.5 模型(比如ChatGPT)
            </option>
            <option value="gpt4">
                GPT-4 模型(比如New Bing)
            </option>
            <option value="codex">
                Codex 模型(比如Fig]
            </option>
        </select>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">聊天室</div>
                    <div class="card-body">
                        <div class="chat-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 输入框 -->
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control send-message" value="curl请求github，获取网页状态码">
                    <button class="btn btn-primary send-btn" type="button">发送</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <form>
            <label>
                请求地址
                <input type="text">
            </label>
        </form>
    </div>
</main>

</body>
<script>
  const input = document.querySelector('.send-message');
  const btn = document.querySelector('.send-btn');
  const chatContext = [];
  btn.addEventListener('click', function () {
    sendMessage();
  });

  // 发送消息函数
  function sendMessage() {
    const message = input.value.trim();
    if (message) {
      const chatArea = document.querySelector('.chat-area');
      chatArea.innerHTML += '<div class="message"><span class="text-danger">User:</span>' + message + '</div>';
      input.value = '';
      sendMessageToAi(message, chatContext).then(function (res) {
        chatArea.innerHTML += '<div class="message"><span class="text-danger">Assistant:</span>' + res.answer + '</div>';
        chatContext.push({
          role: 'user',
          content: message
        });
        chatContext.push({
          role: 'assistant',
          content: res.answer
        });
      })
    }
  }

  function sendMessageToAi(message, chatContext) {
    return goOpenAi({
      model: document.getElementById('model').value.trim(),
      prompt: message,
      context: chatContext.slice(-6)
    })
  }
</script>
</html>
