<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open AI测试</title>
    <link rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap.min.css">
    <script src="/js/utils.js"></script>
</head>
<body>
<main class="container">
    <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <select class="form-control" id="model">
            <option value="gpt3">
                GPT-3 模型(比如iTerm2)
            </option>
            <option value="gpt3.5">
                GPT-3.5 模型(比如ChatGPT)
            </option>
            <option value="gpt4" selected>
                GPT-4 模型(比如New Bing)
            </option>
            <option value="codex">
                Codex 模型(比如Fig]
            </option>
        </select>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="radio" name="isStreaming" id="isStreaming" checked disabled>
        <label class="form-check-label" for="isStreaming">
            是否流
        </label>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control send-message" value="curl请求github，获取网页状态码">
                    <button class="btn btn-primary send-btn" type="button">发送</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">聊天室</div>
                    <div class="card-body">
                        <div class="chat-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
<script>
  const input = document.querySelector('.send-message');
  const btn = document.querySelector('.send-btn');
  const chatHistory = []; // 聊天历史
  btn.addEventListener('click', function () {
    sendMessage();
  });

  // 发送消息函数
  function sendMessage() {
    const message = input.value.trim();
    if (message) {
      const chatArea = document.querySelector('.chat-area');
      chatArea.innerHTML += '<div class="message"><span class="text-danger">User:</span>' + message + '</div>';
      input.value = '';
      chatHistory.push({
        role: 'user',
        content: message
      });
      sendMessageToAiStream(chatHistory);
      // sendMessageToAi(chatHistory).then(function (res) {
      //   chatArea.innerHTML += '<div class="message"><span class="text-danger">Assistant:</span>' + res.message.content + '</div>';
      //   chatHistory.push({
      //     role: 'assistant',
      //     content: res.message.content
      //   });
      // })
    }
  }

  function sendMessageToAi(chatHistory) {
    return goOpenAi({
      model: document.getElementById('model').value.trim(),
      messages: chatHistory.slice(-6)
    })
  }

  function sendMessageToAiStream(messages) {
    return fetch('/api/openai/stream', {
      method: 'post',
      headers: {
        'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify({
        messages
      })
    }).then(res => {
      const reader = res.body.getReader();
      return new ReadableStream({
        start(controller) {
          function push() {
            reader.read().then(({done, value}) => {
              if (done) {
                controller.close();
                return;
              }
              controller.enqueue(value);
              push();
            });
          }
          push();
        }
      });
    }).then(stream => {
      return new Response(stream, {headers: {'Content-Type': 'text/event-stream'}}).text();
    }).then(text => {
      console.log(text);
    })
  }
</script>
</html>
