<head>
    <title>mousetrap测试</title>
    <script src="/js/mousetrap/mousetrap.min.js"></script>
    <script src="/js/mousetrap/plugins/record/mousetrap-record.min.js"></script>
    <style>
    </style>
</head>
<body>
<button onclick="recordSequence()">Record</button>
<button onclick="newWindowClick()">new window</button>
<button onclick="newALinkClick()">new a link</button>

<script>
  function recordSequence() {
    Mousetrap.record(function(sequence) {
      // sequence is an array like ['ctrl+k', 'c']
      alert('You pressed: ' + sequence.join(' '));
      recordSequence();
      return false;
    });
  }

  function newWindowClick(){
    window.open('https://www.baidu.com','_blank');
  }

  function newALinkClick(){
    let htmlAnchorElement = document.createElement('a');
    htmlAnchorElement.href='https://www.baidu.com';
    htmlAnchorElement.target='_blank';
    htmlAnchorElement.click();
  }
</script>
</body>
