<head>
    <title>mousetrap测试</title>
    <script src="/js/mousetrap/mousetrap.min.js"></script>
    <script src="/js/mousetrap/plugins/record/mousetrap-record.min.js"></script>
    <style>
    </style>
</head>
<body>
<button onclick="recordSequence()">Record</button>

<script>
  function recordSequence() {
    Mousetrap.record(function(sequence) {
      // sequence is an array like ['ctrl+k', 'c']
      alert('You pressed: ' + sequence.join(' '));
    });
  }
</script>
</body>
