<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebShell IDE</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.5.2/socket.io.min.js"></script>
    <script>
    </script>
</head>
<body>
<!--
https://wx.cloudstudio.net/ws/embeded
-->
<!--https://cs-res-1258344699.file.myqcloud.com/cloudstudio/vscode/3e54a6f80cbf72e76cc91bb32178e6b3ede84e3f/release-standalone/out/vs/code/browser/workbench/loading.html
-->

loading...
</body>
</html>
