<head>
    <title>本地机器SSH</title>
    <link href="/js/xterm/css/xterm.css" rel="stylesheet">
    <script src="/js/xterm/lib/xterm.js"></script>
    <script src="/js/xterm-addon-web-links/lib/xterm-addon-web-links.js"></script>
    <script src="/js/xterm-addon-search/lib/xterm-addon-search.js"></script>
    <script src="/js/xterm-addon-attach/lib/xterm-addon-attach.js"></script>
    <script src="/js/xterm-addon-webgl/lib/xterm-addon-webgl.js"></script>
    <script src="/js/zmodem.js/dist/zmodem.js"></script>
    <script src="/js/mousetrap.min.js"></script>
    <script src="/js/utils.js"></script>
    <style>

        /**
          search-addon-bar样式
         */
        .xterm-search-addon-bar {
            position: absolute;
            right: 0;
            top: 0;
            width: 285px;
            color: #000;
            padding: 5px 10px;
            box-shadow: 0 2px 8px #000;
            background: #252526;
            z-index: 999;
            display: flex;
        }

        .xterm-search-addon-bar input {
            background-color: #3c3c3c;
            color: #ccc;
            border: 0;
            padding: 2px;
            height: 20px;
            width: 227px;
            outline: none;
        }

        .xterm-search-addon-bar button {
            min-width: 20px;
            width: 20px;
            height: 20px;
            display: flex;
            flex: initial;
            background-position: 50%;
            margin-left: 3px;
            background-repeat: no-repeat;
            background-color: #252526;
            border: 0;
            cursor: pointer;
        }

        .xterm-search-addon-bar button.pre {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTUuNCA4YS42LjYgMCAwMS4xNzYtLjQyNGw0LTRhLjU5OC41OTggMCAwMS44NDggMCAuNTk4LjU5OCAwIDAxMCAuODQ4TDYuODQ5IDhsMy41NzUgMy41NzZhLjU5OC41OTggMCAwMTAgLjg0OC41OTguNTk4IDAgMDEtLjg0OCAwbC00LTRBLjYuNiAwIDAxNS40IDgiLz48L3N2Zz4=");
        }

        .xterm-search-addon-bar button.next {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTEwLjYgOGEuNi42IDAgMDEtLjE3Ni40MjRsLTQgNGEuNTk4LjU5OCAwIDAxLS44NDggMCAuNTk4LjU5OCAwIDAxMC0uODQ4TDkuMTUxIDggNS41NzYgNC40MjRhLjU5OC41OTggMCAwMTAtLjg0OC41OTguNTk4IDAgMDEuODQ4IDBsNCA0QS42LjYgMCAwMTEwLjYgOCIvPjwvc3ZnPg==");
        }

        .xterm-search-addon-bar button.close {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTcgNmwyLTJhLjcxMS43MTEgMCAwMDAtMSAuNzExLjcxMSAwIDAwLTEgMEw2IDUgNCAzYS43MTEuNzExIDAgMDAtMSAwIC43MTEuNzExIDAgMDAwIDFsMiAyLTIgMmEuNzExLjcxMSAwIDAwMCAxIC43MTEuNzExIDAgMDAxIDBsMi0yIDIgMmEuNzExLjcxMSAwIDAwMSAwIC43MTEuNzExIDAgMDAwLTFMNyA2eiIvPjwvc3ZnPg==");
        }

        .xterm-search-addon-bar .search-result-count {
            color: white;
            position: absolute;
            left: 126px;
        }

        .xterm-search-addon-bar .match-case,
        .xterm-search-addon-bar .match-word,
        .xterm-search-addon-bar .match-regex {
            color: #c0bdbd;
        }

        .xterm-search-addon-bar .match-case.active,
        .xterm-search-addon-bar .match-word.active,
        .xterm-search-addon-bar .match-regex.active {
            color: white;
        }

    </style>
</head>
<body>
<script>
  /**
   * 测试高频打印数据
   */
  function onPrintBtnClick() {
    let index = 0;
    window.term.blur();
    window.term.writeln('');
    window.term.clearSelection();
    const intervalId = setInterval(() => {
      window.term.write((index++) + '\r');
      if (index > 10000000) {
        clearInterval(intervalId);
      }
    })
  }

  function onInfinitePrintBtnClick() {
    let index = 0;
    while (true) {
      window.term.write((index++) + '\r');
    }
  }

  function onRenderTypeChange(e) {
    window.term.setOption('rendererType', e.target.value);
  }

  function webGLFlagChange(e) {
    if (e.target.checked) {
      window.webglAddon.activate(window.term);
    } else {
      window.webglAddon.dispose();
    }
  }


</script>
<div id="terminal-container"></div>
<input id="zm_files" type="file" multiple style="display: none">
<button onclick="onPrintBtnClick()">print something</button>
<button onclick="onInfinitePrintBtnClick()">infinite print</button>
<select onchange="onRenderTypeChange(event)">
    <option selected value="dom">
        dom
    </option>
    <option value="canvas">
        canvas
    </option>
</select>
<label for="webglFlag">
    WebGL2-based renderer
    <input type="checkbox" id="webglFlag" onchange="webGLFlagChange(event)"/>
</label>
<code>
    <p>The function <code>selectAll()</code> highlights all the text in the
        input field so the user can, for example, copy or delete the text.</p>
</code>

<button onclick="doPaste()">paste</button>


<h3>second terminal</h3>
<div id="terminal-container2"></div>

<script>

  var isFullscreen = false;
  const terminalOptions = {
    fontFamily: 'Hack Nerd Font,Roboto,San Francisco,Helvetica Neue,Helvetica,Arial,PingFangSC-Light,Hiragina Sans GB,WenQuanYi Micro Hei,microsoft yahei ui,microsoft yahei,sans-serif',
    fontSize: 13,
    fontWeight: 'normal',
    letterSpacing: 0,
    cursorBlink: true,
    theme: {
      // selection: '#0000ff55',
      foreground: '#a5a2a2',
      background: '#090300',
      cursor: '#a5a2a2',

      black: '#090300',
      brightBlack: '#5c5855',

      red: '#db2d20',
      brightRed: '#e8bbd0',

      green: '#01a252',
      brightGreen: '#3a3432',

      yellow: '#fded02',
      brightYellow: '#4a4543',

      blue: '#01a0e4',
      brightBlue: '#807d7c',

      magenta: '#a16a94',
      brightMagenta: '#d6d5d4',

      cyan: '#b5e4f4',
      brightCyan: '#cdab53',

      white: '#a5a2a2',
      brightWhite: '#f7f7f7'
    },
    rendererType: 'canvas', //  canvas,dom
    minimumContrastRatio: 1,
    allowProposedApi: true,
    // 开启透明支持-支持CSS实现终端背景图设定
    allowTransparency: true
  };
  var term = new Terminal(terminalOptions);
  window.term = term;
  /**
   * 终端会话连接与zsession
   */
  var socket, zsession, attachAddon;
  let isZsession = false;

  let zsentry = new Zmodem.Sentry({
    to_terminal: function _to_terminal(data) {
      if (!isZsession) {
        term.write(data);
        console.log('data', data);
      }
    },

    sender: (data) => {
      socket.send(new Uint8Array(data));
    },

    on_retract: function _on_retract() {
      term.write('\rtransfer cancelled\r\n');
    },

    on_detect: async function _on_detect(detection) {
      isZsession = true;
      try {
        await processZSession(detection);
      } finally {
        isZsession = false;
        console.log(isZsession);
      }
    },
  });

  term.open(document.getElementById('terminal-container'));


  // 终端自定义打印内容
  term.write('Hello from \x1B[1;3;31mxterm.js\x1B[0m \r\n');
  term.write('https://chat.openai.com');
  const webglAddon = new WebglAddon.WebglAddon();
  window.webglAddon = webglAddon;
  webglAddon.onContextLoss(e => {
    webglAddon.dispose();
  });

  term.loadAddon(webglAddon);
  // 终端自定义打印内容
  term.loadAddon(new WebLinksAddon.WebLinksAddon(
    (event, uri) => {
      if (isMac ? event.metaKey : event.ctrlKey) {
        window.open(uri);
      }
    }, {
      hover: (event, text, location) => {
        console.log(event, text, location);
      }
    }));
  term.focus();

  term.parser.registerEscHandler({final: 'D'}, () => {
    console.log('ESC sequence received');
  });
  term.textarea.addEventListener('paste', (e) => {
    console.log('paste', e.clipboardData.getData('text/plain'));
  });

  term.attachCustomKeyEventHandler(function (event) {
    if (event.type !== 'keydown') {
      return;
    }
    // // alternate screen模式比如vim模式下不开启终端检索
    // if (event.key === 'f' && (event.metaKey || event.ctrlKey) && term.buffer.active.type === 'normal') {
    //   event.preventDefault();
    //   searchAddonBar.show();
    //   return true;
    // }
    //
    //
    // if (event.key === ',' && event.ctrlKey && event.altKey) {
    //   console.log(event);
    //   return;
    // }

    if (event.key === 'c' && event.ctrlKey) {
      if (zsession && !zsession._aborted) {
        zsession.abort();
        term.writeln('');
      }

      if (isWin && term.hasSelection()) {
        return false;
      }
    }

    if (isWin && event.key === 'v' && event.ctrlKey) {
      return false;
    }

    // if (event.key === '.' && event.ctrlKey && event.altKey) {
    //   console.log(event);
    //   return false;
    // }
    //
    //
    // if (event.key === '.' && event.ctrlKey && event.altKey) {
    //   console.log(event);
    //   return false;
    // }
    //
    //
    // if (event.key === '.' && event.ctrlKey && event.altKey) {
    //   console.log(event);
    //   return false;
    // }
    //
    // if (event.key === 'Escape') {
    //   searchAddonBar.hide();
    // }
    //
    if (event.key === 'k' && (isMac ? event.metaKey : event.ctrlKey)) {
      console.log('清屏点击');
      term.clear();
      event.preventDefault();
      return false;
    }
    return true;
  })

  fetch('/xterm?cols=' + term.cols + '&rows=' + term.rows, {method: 'POST'}).then(res => res.text()).then(function (res) {
    socket = new WebSocket(`${webSocketBaseUrl}/xterm/${res}`);
    attachAddon = new AttachAddon.AttachAddon(socket);
    term.loadAddon(attachAddon);

    socket.addEventListener('open', () => {
      socket.send('\r');
    });

    socket.addEventListener('message', (evt) => {
      console.log('socket', evt.data);
      // feedFromSession(evt.data);
    });
  })


  function _save_to_disk(xfer, buffer) {
    return Zmodem.Browser.save_to_disk(buffer, xfer.get_details().name);
  }

  function feedFromSession(buffer) {
    const chunkSize = 1024;
    for (let i = 0; i <= Math.floor(buffer.byteLength / chunkSize); i++) {
      try {
        zsentry.consume(buffer.slice(i * chunkSize, (i + 1) * chunkSize));
      } catch (e) {
        isZsession = false
        activeZsession && activeZsession.abort()
      }
    }
    if (!isZsession) {
      const dataStr = Uint8ArrayToString(new Uint8Array(buffer));
      const currenDirArr = dataStr.match(/(;CurrentDir=)([^;\u0007]+)/); // 根据PS1获取CWD
      if (currenDirArr?.length >= 3) {
        CurrentDir = currenDirArr[2];
      }
    }
  }

  async function processZSession(detection) {
    activeZsession = detection.confirm();
    var promise;
    zsessionCanceled = false;
    if (activeZsession.type === 'send') {
      promise = handleUploadSession(activeZsession);
    } else {
      promise = handleDownloadSession(activeZsession);
    }
    try {
      await promise;
    } catch (e) {
      console.error(e);
    }
  }

  function ab2str(buf) {
    return String.fromCharCode.apply(null, new Uint8Array(buf));
  }

  function str2ab(str) {
    const buf = new ArrayBuffer(str.length);
    const bufView = new Uint8Array(buf);
    for (let i = 0, strLen = str.length; i < strLen; i++) {
      bufView[i] = str.charCodeAt(i);
    }
    return bufView;
  }

  /**
   * 清除光标所在行内容
   * @param term
   */
  function eraseActiveLine(term) {
    term.write('\x1b[2K\r');
  }

  /**
   * 清屏
   * mod在Mac下即⌘，在windows等系统下即ctrl
   */
  Mousetrap.bind(['mod+k', 'ctrl+k'], function (e) {
    console.log('command k or control k', e);
    // return false to prevent default browser behavior
    // and stop event from bubbling
    return false;
  });

  /**
   * 开启新终端Tab
   */
  Mousetrap.bind(['ctrl+alt+,', 'alt+t', 'alt+w', 'alt+d'], function (e) {
    console.log('meta+,', e);
    // return false to prevent default browser behavior
    // and stop event from bubbling
    return false;
  });
  /**
   * 关闭当前终端Tab
   */
  Mousetrap.bind(['ctrl+alt+.'], function (e) {
    console.log('meta+.', e);
    // return false to prevent default browser behavior
    // and stop event from bubbling
    return false;
  });

  /**
   * 分屏打开
   */
  Mousetrap.bind(['ctrl+alt+;'], function (e) {
    console.log('meta+;', e);
    // return false to prevent default browser behavior
    // and stop event from bubbling
    return false;
  });

  Mousetrap.bind(['mod+1', 'mod+2', 'mod+3', 'mod+4', 'mod+5'], function (e) {
    console.log('command k or control k', e);

    // return false to prevent default browser behavior
    // and stop event from bubbling
    return false;
  });


  Mousetrap.bind('?', function () {
    console.log('show help doc');
    // return false to prevent default browser behavior
    // and stop event from bubbling
    return false;
  });

  /**
   * windows下走f11默认也可以，不需要JS支持
   */
  Mousetrap.bind(['mod+enter', 'f11'], function () {
    if (!isMac) {
      return true;
    }
    if (document.fullscreenElement) {
      document.exitFullscreen();
    } else {
      document.body.requestFullscreen({
        navigationUI: 'hide'
      })
    }
    // return false to prevent default browser behavior
    // and stop event from bubbling
    return false;
  });

  function Encodeuint8arr(myString) {
    return new TextEncoder('utf-8').encode(myString);
  }

  function Decodeuint8arr(uint8array) {
    return new TextDecoder('utf-8').decode(uint8array);
  }

  function doPaste() {
    paste().then(txt => {
      term.write(txt);
    }).catch(() => {
      alert('请打开剪贴板权限');
    })
  }

  const term2 = new Terminal(terminalOptions);

  term2.open(document.getElementById('terminal-container2'))


  term2.write('hello world');
  // term2.focus();
</script>
</body>
