<head xmlns="http://www.w3.org/1999/html">
    <title>xterm.js-ssh2测试</title>

    <link href="/js/xterm/css/xterm.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.42/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <link data-name="vs/editor/editor.main"
          href="https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.34.0/min/vs/editor/editor.main.min.css"
          rel="stylesheet">
    <link href="/js/contextMenu.css" rel="stylesheet">
    <script src="/js/xterm/lib/xterm.js"></script>
    <script src="/js/xterm-addon-web-links/lib/xterm-addon-web-links.js"></script>
    <script src="/js/xterm-addon-search/lib/xterm-addon-search.js"></script>
    <script src="/js/xterm-addon-serialize/lib/xterm-addon-serialize.js"></script>
    <script src="/js/xterm-addon-unicode11/lib/xterm-addon-unicode11.js"></script>
    <script src="/js/xterm-addon-canvas/lib/xterm-addon-canvas.js"></script>
    <script src="/js/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
    <script src="/js/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
    <script src="/js/local-echo.js"></script>
    <script src="/js/zmodem.js/dist/zmodem.js"></script>
    <script src="/js/mousetrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.34.0/min/vs/loader.min.js"></script>

    <script src="/js/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.42/js/jquery.ztree.all.min.js"></script>
    <script src="/js/contextMenu.js"></script>
    <script src="/js/events.js"></script>
    <link rel="stylesheet" href="/css/xterm-ssh2.css">
</head>
<body>
<div>
    <a href="/">
        返回首页
    </a>
</div>
<div class="terminal-parent">
    <div id="terminal-wrapper">
        <div class="terminal-background-img">

        </div>
        <div id="terminal-container">

        </div>
    </div>
</div>
<input id="zm_files" type="file" multiple style="display: none">
<button data-start="false" onclick="recordLogStart(event)">log record start</button>
<button data-start="false" onclick="clientRecordLogStart(event)">client log record start</button>
<label for="record-timestamp">
    record timestamp
    <input id="record-timestamp" type="checkbox" checked>
</label>
<button data-start="false" onclick="serializeTerminal(event)">serialize terminal</button>
<button data-start="false" onclick="runCodeServer(event)">Run Code Server</button>
<button data-start="false" onclick="runWebSocketProxy(event)">Run WebSocket Proxy</button>

<button onclick="stopCodeServer(event)">Stop Code Server</button>

<label for="backgroundOn">
    <input id="backgroundOn" type="checkbox" onclick="toggleBackgroundOn(event)"/>Image Background
</label>


<label for="toggleNewTabOn">
    <input id="toggleNewTabOn" type="checkbox" onclick="toggleNewTabOn(event)"/>链接打开新标签页
</label>

<label for="proxyProtocol">
    Code Server代理协议直接访问/tty
    <select id="proxyProtocol">
        <option value="http">HTTP(需要防火墙放开端口36000)</option>
        <option value="ssh" selected>SSH</option>
        <option value="ws">WebSocket</option>
    </select>
</label>

<label for="visitIDEDirectly">
    <input id="visitIDEDirectly" type="checkbox" onclick="toggleBackgroundOn(event)">直接访问/tty
</label>
<div>
    <label for="proxyHost">Code Server代理地址</label>
    <textarea id="proxyHost" cols="20" rows="20">
    </textarea>
</div>

<iframe id="code-server-inline">

</iframe>
<div id="file-editor">
    <div style="width: 280px">
        <input type="text" placeholder="内容全文检索" onkeydown="handleSearch(event)"/>
        <div id="file-tree" class="ztree">
        </div>
        <div>

        </div>
        检索结果
        <div class="search-result">

        </div>
    </div>
    <div style="flex: 1">
        编辑器
        <div id="monaco_editor">

        </div>
    </div>

</div>
<footer>

</footer>
<script>
  const connectOpts =<%- JSON.stringify(connectOpts) %>;//连接参数

  async function readFromClipboard() {
    const doSystemPaste = () => {
      const textarea = document.createElement('textarea');
      document.body.appendChild(textarea);
      // 隐藏此输入框
      textarea.style.position = 'fixed';
      textarea.style.visibility = 'hidden';
      textarea.style.top = '10px';
      // 选中
      textarea.focus();
      const res = document.execCommand('paste', null, null);
      const paste = textarea.value;
      document.body.removeChild(textarea);
      if (res) {
        return paste;
      }
      throw new Error();
    };
    if (navigator.clipboard) {
      return navigator.clipboard.readText().catch(() => doSystemPaste());
    }
    return doSystemPaste();
  }

  async function copyToClipboard(content) {
    const doSystemCopy = () => {
      const textarea = document.createElement('textarea');
      document.body.appendChild(textarea);
      // 隐藏此输入框
      textarea.style.position = 'fixed';
      textarea.style.visibility = 'hidden';
      textarea.style.top = '10px';
      // 赋值
      textarea.value = content;
      // 选中
      textarea.focus();
      textarea.select();
      // 复制
      const res = document.execCommand('copy', false);
      // 移除输入框
      document.body.removeChild(textarea);
      if (res) {
        return true;
      }
      throw new Error();
    };

    if (navigator.clipboard) {
      return navigator.clipboard.writeText(content).then(() => true)
          .catch(() => doSystemCopy());
    }
    return doSystemCopy();
  }

</script>
<script src="/js/xterm-ssh2-utils.js"></script>
<script type="module" src="/js/xterm-ssh2.js"></script>
</body>
