<head>
    <title>xterm测试</title>
    <link href="/js/xterm/xterm.css" rel="stylesheet">
    <script src="/js/xterm/xterm.js"></script>
    <script src="/js/xterm/xterm-addon-web-links.js"></script>
    <script src="/js/xterm/xterm-addon-search.js"></script>
    <script src="/js/xterm/xterm-addon-attach.js"></script>
    <script src="/js/xterm/zmodem.js"></script>
    <script src="/js/xterm/zmodem-browser.js"></script>
    <style>
        #terminal {
            background-image: url("/img/halo.jpeg");
            background-repeat: no-repeat;
            background-color: black;
            /*background-size: cover;*/
        }

        .search-terminal {
            position: absolute;
            width: 250px;
            color: #000;
            padding: 5px 10px;
            box-shadow: 0 2px 8px #000;
            background: #252526;
            z-index: 999;
            display: flex;
        }

        .search-terminal input {
            background-color: #3c3c3c;
            color: #ccc;
            border: 0;
            padding: 2px;
            height: 20px;
            width: 227px;
            outline: none;
        }

        .search-terminal button {
            min-width: 20px;
            width: 20px;
            height: 20px;
            display: flex;
            flex: initial;
            background-position: 50%;
            margin-left: 3px;
            background-repeat: no-repeat;
            background-color: #252526;
            border: 0;
            cursor: pointer;
        }

        .search-terminal button.pre {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTUuNCA4YS42LjYgMCAwMS4xNzYtLjQyNGw0LTRhLjU5OC41OTggMCAwMS44NDggMCAuNTk4LjU5OCAwIDAxMCAuODQ4TDYuODQ5IDhsMy41NzUgMy41NzZhLjU5OC41OTggMCAwMTAgLjg0OC41OTguNTk4IDAgMDEtLjg0OCAwbC00LTRBLjYuNiAwIDAxNS40IDgiLz48L3N2Zz4=");
        }

        .search-terminal button.next {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTEwLjYgOGEuNi42IDAgMDEtLjE3Ni40MjRsLTQgNGEuNTk4LjU5OCAwIDAxLS44NDggMCAuNTk4LjU5OCAwIDAxMC0uODQ4TDkuMTUxIDggNS41NzYgNC40MjRhLjU5OC41OTggMCAwMTAtLjg0OC41OTguNTk4IDAgMDEuODQ4IDBsNCA0QS42LjYgMCAwMTEwLjYgOCIvPjwvc3ZnPg==");
        }

        .search-terminal button.close {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTcgNmwyLTJhLjcxMS43MTEgMCAwMDAtMSAuNzExLjcxMSAwIDAwLTEgMEw2IDUgNCAzYS43MTEuNzExIDAgMDAtMSAwIC43MTEuNzExIDAgMDAwIDFsMiAyLTIgMmEuNzExLjcxMSAwIDAwMCAxIC43MTEuNzExIDAgMDAxIDBsMi0yIDIgMmEuNzExLjcxMSAwIDAwMSAwIC43MTEuNzExIDAgMDAwLTFMNyA2eiIvPjwvc3ZnPg==");
        }

        .search-terminal .search-result-count {
            position: relative;
            left: -10px;
        }
    </style>
</head>
<body>
<div id="terminal"></div>
<input id="zm_files" type="file" multiple style="display: none">
<script>
  var term = new Terminal({
    fontFamily: 'Hack Nerd Font',
    fontSize: 13,
    fontWeight: 'normal',
    letterSpacing: 0,
    theme: {
      foreground: '#f8dcc0',
      background: 'rgba(31,29,69,0.5)',
      cursor: '#efbf38',

      black: '#050404',
      brightBlack: '#4e7cbf',

      red: '#bd0013',
      brightRed: '#fc5f5a',

      green: '#4ab118',
      brightGreen: '#9eff6e',

      yellow: '#e7741e',
      brightYellow: '#efc11a',

      blue: '#0f4ac6',
      brightBlue: '#1997c6',

      magenta: '#665993',
      brightMagenta: '#9b5953',

      cyan: '#70a598',
      brightCyan: '#c8faf4',

      white: '#f8dcc0',
      brightWhite: '#f6f5fb'
    },
    rendererType: 'dom',
    minimumContrastRatio: 1,
    allowTransparency: true
  });
  /**
   * 终端会话连接与zsession
   */
  var socket, zsession, attachAddon;

  term.open(document.getElementById('terminal'));
  // 终端自定义打印内容
  term.write('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ');
  term.loadAddon(new WebLinksAddon.WebLinksAddon(
    (event, uri) => {
      if (event.metaKey) {
        window.open(uri);
      }
    }));
  let searchAddon = new SearchAddon.SearchAddon();
  term.loadAddon(searchAddon);
  term.attachCustomKeyEventHandler(function (event) {
    if (event.key === 'k' && event.metaKey) {
      term.clear();
      return false;
    }

    if (event.key === 'f' && event.metaKey) {
      event.preventDefault();
      new SearchAddonBar(this, searchAddon);
      return false;
    }
    /**
     * 如果在session会话中需要实现取消
     * 由于开启zmodem会话时关闭了attach插件，因此这里WS直接发送取消命令
     */
    if (event.key === 'c' && event.ctrlKey) {
      if (zsession && !zsession._aborted) {
        // attachAddon.activate(term);
        zsession.abort();
        term.writeln('');
      }
    }
    return true;
  });


  fetch('/xterm?cols=' + term.cols + '&rows=' + term.rows, {method: 'POST'}).then(res => res.text()).then(function (res) {
    socket = new WebSocket(`ws://127.0.0.1:8000/xterm/${res}`);
    attachAddon = new AttachAddon.AttachAddon(socket);
    term.loadAddon(attachAddon);
    term.zmodemAttach(socket, {
      noTerminalWriteOutsideSession: true,
    });
    term.zmodemDetect = (detection) => {

      function do_zmodem() {
        // attachAddon.dispose();
        zsession = detection.confirm();

        var promise;

        if (zsession.type === "receive") {
          promise = handleReceiveSession(zsession);
        } else {
          promise = handleSendSession(zsession);
        }
        promise.catch(console.error.bind(console)).then(() => {
          zsession = null;
          // attachAddon.activate(term);
        });
      }

      do_zmodem();
    };

    socket.addEventListener('open', () => {
      socket.send('\r');
    });

    socket.addEventListener('message', (evt) => {
      if (!zsession) {
        term.write(evt.data);
      }
    });
  })

  class SearchAddonBar {
    constructor(term, searchAddon) {
      this.term = term;
      this.searchAddon = searchAddon;
      this.searchOptions = {
        /**
         * 正则表达式
         */
        regex: false,
        /**
         * 单词
         */
        wholeWord: false,
        /**
         * 区分大小写
         */
        caseSensitive: false,
        decorations: {
          matchBackground: '#ffff00',
          // matchOverviewRuler: '#30B0D7',
          activeMatchBackground: '#ff9632'
        }
      }
      this.parentContainerEl = this.term.element.parentElement;
      this.render();
      this.searchAddon.onDidChangeResults(({resultIndex, resultCount}) => {
        console.log(resultIndex, resultCount);
      });
    }

    render() {
      if (this.term.element.parentElement.getElementsByClassName('search-terminal').length) {
        return;
      }
      const searcherEl = document.createElement('div');
      searcherEl.className = 'search-terminal';

      this.parentContainerEl.style.position = 'relative';
      searcherEl.style.top = '0';
      searcherEl.style.left = (this.parentContainerEl.querySelector('.xterm-viewport').clientWidth - 250) + 'px';

      searcherEl.innerHTML = `
    <input/>
    <span class="search-result-count"></span>
    <button class="pre"></button>
    <button class="next"></button>
    <button class="match-case">Aa</button>
    <button class="match-word">W</button>
    <button class="close"></button>`;
      this.parentContainerEl.appendChild(searcherEl);
      searcherEl.children[0].focus();
      const buttonEls = searcherEl.querySelectorAll('button');
      const clickElement = searcherEl.querySelector('input');
      clickElement.addEventListener('keydown', this.onEnter.bind(this));
      buttonEls[0].addEventListener('click', this.onFindPre.bind(this));
      buttonEls[1].addEventListener('click', this.onFindNext.bind(this));
      buttonEls[4].addEventListener('click', this.onHide.bind(this));
    }

    onFindPre(event) {
      let value = event.target.parentElement.children[0].value;
      if (!value || !value.trim()) {
        return;
      }
      this.searchAddon.findPrevious(value, this.searchOptions);
    }

    onFindNext(event) {
      let value = event.target.parentElement.children[0].value;
      if (!value || !value.trim()) {
        return;
      }

      this.searchAddon.findNext(value, this.searchOptions);
    }

    onEnter(event) {
      let value = event.target.parentElement.children[0].value;
      if (!value.trim()) {
        return;
      }
      if (event.key === 'Enter') {
        this.onFindNext(event);
      }
    }

    onHide() {
      const searchEl = this.parentContainerEl.querySelector('.search-terminal');
      searchEl.remove();
      this.term.focus();
    }
  }

  function _save_to_disk(xfer, buffer) {
    return Zmodem.Browser.save_to_disk(buffer, xfer.get_details().name);
  }

  /**
   * SZ接受文件
   */
  function handleReceiveSession(zsession) {
    zsession.on("offer", function (xfer) {
      term.blur();
      term.write('\x1b[2K\r');
      term.write('0%\r');

      function on_form_submit() {
        const FILE_BUFFER = [];
        xfer.on("input", (payload) => {
          FILE_BUFFER.push(new Uint8Array(payload));
          term.write(getProgress(xfer) + '\r');
        });
        xfer.accept().then(
          () => {
            term.write(`${xfer.get_details().name} download complete\r`);
            term.focus();
            term.write(`\r\n`);
            _save_to_disk(xfer, FILE_BUFFER);
          },
          console.error.bind(console)
        );
        //END
      }

      on_form_submit();
    });

    var promise = new Promise((res) => {
      zsession.on("session_end", () => {
        res();
      });
    });
    zsession.start();
    return promise;
  }

  /**
   * rz接收文件
   */
  function handleSendSession(zsession) {
    var file_el = document.getElementById("zm_files");

    file_el.click();
    var promise = new Promise((res) => {
      file_el.onchange = function (e) {

        var files_obj = file_el.files;

        Zmodem.Browser.send_files(
          zsession,
          files_obj,
          {
            on_offer_response(obj, xfer) {
              if (!xfer) {
                term.write(`\n* The file ${obj.name} exists *\r`);
              } else {
                term.blur();
                xfer.on('send_progress', percent => {
                  console.log(percent + '%\r');
                  // 上传中，发送进度给后台
                  term.write(percent + '%\r');
                });
              }
            },
            on_progress(obj, xfer) {
            },
            on_file_complete(obj, xfer) {
              term.write(`${xfer.get_details().name} upload complete\r`);
              term.focus();
              term.write(`\r\n`);
              term.write('\x1b[2K\r');
            },
          }
        ).then().then(
          zsession.close.bind(zsession),
          console.error.bind(console)
        ).then(() => {
          res();
        });
      };
    });

    return promise;
  }

  function getProgress(xhr) {
    console.log(xhr.get_offset());
    return (xhr.get_offset() * 100 / xhr.get_details().size).toFixed(2) + '%';
  }

  function ab2str(buf) {
    return String.fromCharCode.apply(null, new Uint8Array(buf));
  }

  function str2ab(str) {
    const buf = new ArrayBuffer(str.length);
    const bufView = new Uint8Array(buf);
    for (let i = 0, strLen = str.length; i < strLen; i++) {
      bufView[i] = str.charCodeAt(i);
    }
    return bufView;
  }
</script>
</body>
