<head>
    <title>xterm测试</title>
    <link href="/js/xterm.css" rel="stylesheet">
    <script src="/js/xterm.js"></script>
    <script src="/js/xterm-addon-web-links.js"></script>
    <script src="/js/xterm-addon-search.js"></script>
    <style>
        .search-terminal {
            position: absolute;
            width: 215px;
            color: #000;
            padding: 5px 10px;
            box-shadow: 0 2px 8px #000;
            background: #252526;
            z-index: 999;
            display: flex;
        }

        .search-terminal input {
            background-color: #3c3c3c;
            color: #ccc;
            border: 0;
            padding: 2px;
            height: 20px;
            width: 227px;
            outline: none;
        }

        .search-terminal button {
            min-width: 20px;
            width: 20px;
            height: 20px;
            display: flex;
            flex: initial;
            background-position: 50%;
            margin-left: 3px;
            background-repeat: no-repeat;
            background-color: #252526;
            border: 0;
            cursor: pointer;
        }

        .search-terminal button.pre {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTUuNCA4YS42LjYgMCAwMS4xNzYtLjQyNGw0LTRhLjU5OC41OTggMCAwMS44NDggMCAuNTk4LjU5OCAwIDAxMCAuODQ4TDYuODQ5IDhsMy41NzUgMy41NzZhLjU5OC41OTggMCAwMTAgLjg0OC41OTguNTk4IDAgMDEtLjg0OCAwbC00LTRBLjYuNiAwIDAxNS40IDgiLz48L3N2Zz4=");
        }

        .search-terminal button.next {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTEwLjYgOGEuNi42IDAgMDEtLjE3Ni40MjRsLTQgNGEuNTk4LjU5OCAwIDAxLS44NDggMCAuNTk4LjU5OCAwIDAxMC0uODQ4TDkuMTUxIDggNS41NzYgNC40MjRhLjU5OC41OTggMCAwMTAtLjg0OC41OTguNTk4IDAgMDEuODQ4IDBsNCA0QS42LjYgMCAwMTEwLjYgOCIvPjwvc3ZnPg==");
        }

        .search-terminal button.close {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTcgNmwyLTJhLjcxMS43MTEgMCAwMDAtMSAuNzExLjcxMSAwIDAwLTEgMEw2IDUgNCAzYS43MTEuNzExIDAgMDAtMSAwIC43MTEuNzExIDAgMDAwIDFsMiAyLTIgMmEuNzExLjcxMSAwIDAwMCAxIC43MTEuNzExIDAgMDAxIDBsMi0yIDIgMmEuNzExLjcxMSAwIDAwMSAwIC43MTEuNzExIDAgMDAwLTFMNyA2eiIvPjwvc3ZnPg==");
        }
    </style>
</head>
<body>
<div id="terminal"></div>

<script>
  var term = new Terminal({
    rendererType: 'dom',
    minimumContrastRatio: 1,
  });
  term.open(document.getElementById('terminal'));
  term.writeln('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ');
  term.writeln('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ');
  term.writeln('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ');
  term.writeln('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ');
  term.writeln('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ');
  term.writeln('https://1991421.cn');
  term.loadAddon(new WebLinksAddon.WebLinksAddon(
    (event, uri) => {
      if (event.metaKey) {
        window.open(uri);
      }
    }));
  let searchAddon = new SearchAddon.SearchAddon();
  term.loadAddon(searchAddon);
  term.attachCustomKeyEventHandler(function (event) {
    if (event.key === 'f' && event.metaKey) {
      event.preventDefault();
      new SearchAddonBar(this, searchAddon);
      return false;
    }
    return true;
  });


  class SearchAddonBar {
    constructor(term, searchAddon) {
      this.term = term;
      this.searchAddon = searchAddon;
      this.searchOptions = {
        /**
         * 正则表达式
         */
        regex: false,
        /**
         * 单词
         */
        wholeWord: false,
        /**
         * 区分大小写
         */
        caseSensitive: false,
        decorations: {
          matchBackground: '#ffff00',
          // matchOverviewRuler: '#30B0D7',
          activeMatchBackground: '#ff9632'
        }
      }
      this.parentContainerEl = this.term.element.parentElement;
      this.render();
      this.searchAddon.onDidChangeResults(({resultIndex, resultCount}) => {
        console.log(resultIndex, resultCount);
      });
    }

    render() {
      if (this.term.element.parentElement.getElementsByClassName('search-terminal').length) {
        return;
      }
      const searcherEl = document.createElement('div');
      searcherEl.className = 'search-terminal';

      this.parentContainerEl.style.position = 'relative';
      searcherEl.style.top = '0';
      searcherEl.style.left = (this.parentContainerEl.querySelector('.xterm-viewport').clientWidth - 235) + 'px';

      searcherEl.innerHTML = `
    <input/>
    <button class="pre"></button>
    <button class="next"></button>
    <button class="close"></button>`;
      this.parentContainerEl.appendChild(searcherEl);
      searcherEl.children[0].focus();
      const buttonEls = searcherEl.querySelectorAll('button');
      const clickElement = searcherEl.querySelector('input');
      clickElement.addEventListener('keydown', this.onEnter.bind(this));
      buttonEls[0].addEventListener('click', this.onFindPre.bind(this));
      buttonEls[1].addEventListener('click', this.onFindNext.bind(this));
      buttonEls[2].addEventListener('click', this.onHide.bind(this));
    }

    onFindPre(event) {
      let value = event.target.parentElement.children[0].value;
      if (!value || !value.trim()) {
        return;
      }
      this.searchAddon.findPrevious(value, this.searchOptions);
    }

    onFindNext(event) {
      let value = event.target.parentElement.children[0].value;
      if (!value || !value.trim()) {
        return;
      }

      this.searchAddon.findNext(value, this.searchOptions);
    }

    onEnter(event) {
      let value = event.target.parentElement.children[0].value;
      if (!value.trim()) {
        return;
      }
      if (event.key === 'Enter') {
        this.onFindNext(event);
      }
    }

    onHide() {
      const searchEl = this.parentContainerEl.querySelector('.search-terminal');
      searchEl.remove();
      this.term.focus();
    }
  }

</script>
</body>
