<!doctype html>
<html lang="en">
<head xmlns="http://www.w3.org/1999/html">
    <title>xterm.js-ssh2测试</title>

    <!--  加载样式  -->
    <link href="/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/xterm/css/xterm.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.42/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <link data-name="vs/editor/editor.main"
          href="https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.34.0/min/vs/editor/editor.main.min.css"
          rel="stylesheet">
    <link href="/js/contextMenu.css" rel="stylesheet">
    <link href="/css/xterm-ssh2.css" rel="stylesheet">


    <!-- 加载插件   -->
    <script src="/js/xterm/lib/xterm.js"></script>
    <script src="/js/xterm-addon-web-links/lib/xterm-addon-web-links.js"></script>
    <script src="/js/xterm-addon-search/lib/xterm-addon-search.js"></script>
    <script src="/js/xterm-addon-serialize/lib/xterm-addon-serialize.js"></script>
    <script src="/js/xterm-addon-unicode11/lib/xterm-addon-unicode11.js"></script>
    <script src="/js/xterm-addon-canvas/lib/xterm-addon-canvas.js"></script>
    <script src="/js/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
    <script src="/js/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
    <script src="/js/zmodem.js/dist/zmodem.js"></script>
    <script src="/js/mousetrap.min.js"></script>
    <script src="/js/events.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.34.0/min/vs/loader.min.js"></script>
    <script src="/js/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.42/js/jquery.ztree.all.min.js"></script>
    <script src="/js/contextMenu.js"></script>

</head>
<body>
<div>
    <a href="/">
        返回首页
    </a>
</div>
<div class="terminal-parent">
    <div id="terminal-wrapper">
        <div class="terminal-background-img">

        </div>
        <div id="terminal-container">

        </div>
        <div class="suggestion-box" tabindex="1">
        </div>
    </div>
</div>
<input id="zm_files" type="file" multiple style="display: none">
<button type="button" id="recordLogStart" class="btn btn-info" data-start="false">log record start</button>
<button type="button" id="clientRecordLogStart" class="btn btn-info" data-start="false" >client log record
    start
</button>
<label for="record-timestamp">
    record timestamp
    <input id="record-timestamp" type="checkbox" checked>
</label>
<button class="btn btn-info" data-start="false" id="serializeTerminal">serialize terminal</button>
<button class="btn btn-info" data-start="false" id="runCodeServer">Run Code Server</button>
<button class="btn btn-info" data-start="false" id="runWebSocketProxy">Run WebSocket Proxy</button>
<button class="btn btn-info" id="stopCodeServer">Stop Code Server</button>


<label for="backgroundOn">
    <input id="backgroundOn" type="checkbox"/>Image Background
</label>


<label for="toggleNewTabOn">
    <input id="toggleNewTabOn" type="checkbox"/>链接打开新标签页
</label>

<label for="proxyProtocol">
    Code Server代理协议直接访问/tty
    <select id="proxyProtocol">
        <option value="http">HTTP(需要防火墙放开端口36000)</option>
        <option value="ssh" selected>SSH</option>
        <option value="ws">WebSocket</option>
    </select>
</label>

<label for="visitIDEDirectly">
    <input id="visitIDEDirectly" type="checkbox">直接访问/tty
</label>
<div>
    <label for="proxyHost">Code Server代理地址</label>
    <textarea id="proxyHost" cols="20" rows="20">
    </textarea>
</div>

<div>
    <label for="executeCommand">Execute Command</label>
    <textarea id="executeCommand" cols="20" rows="5">
    </textarea>
    <button id="executeCommandBtn" class="btn btn-info">Execute Command</button>
</div>

<button class="btn btn-info">热键说明</button>

<iframe id="code-server-inline">

</iframe>
<div id="file-editor">
    <div style="width: 280px">
        <input type="text" placeholder="内容全文检索" id="handleSearch"/>
        <div id="file-tree" class="ztree">
        </div>
        <div>

        </div>
        检索结果
        <div class="search-result">

        </div>
    </div>
    <div style="flex: 1">
        编辑器
        <div id="monaco_editor">

        </div>
    </div>

</div>
<footer>

</footer>
<script>
  window.connectOpts =<%- JSON.stringify(connectOpts) %>;//连接参数
  window.autocompleteSpecArr = JSON.parse('<%- JSON.stringify(autocompleteSpecs) %>');
</script>
<script type="module" src="/js/xterm-ssh2.js"></script>
<template id="suggestion-template">
    <div class="suggestion-item" tabindex="1"></div>
</template>
</body>
</html>



